<div class="modal fade" id="{% block modal_id %}editModal{% endblock %}" tabindex="-1"
     {% block modal_attributes %}{% endblock %}>
  <div class="modal-dialog {% block modal_size %}{% endblock %}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{% block modal_title_id %}editModalTitle{% endblock %}">
          {% block modal_title %}Editar Item{% endblock %}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <form id="{% block form_id %}editForm{% endblock %}" method="post"
            {% block form_attributes %}{% endblock %}>
        {% csrf_token %}
        {% block hidden_fields %}{% endblock %}

        <div class="modal-body">
          {% block modal_fields %}

          {% endblock %}
        </div>

        <div class="modal-footer">
          {% block modal_buttons %}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">
            {% block submit_button_text %}Salvar{% endblock %}
          </button>
          {% endblock %}
        </div>
      </form>
    </div>
  </div>
</div>
